body{
font-family:Calibri, Arial;
background:#eef1f5;
margin:0;
}

.container{
display:flex;
gap:20px;
padding:20px;
}

.form{
width:35%;
background:#fff;
padding:20px;
border-radius:10px;
}

.form input, textarea, select{
width:100%;
margin-bottom:10px;
padding:9px;
}

button{
width:100%;
padding:10px;
background:#1f3c88;
color:white;
border:none;
margin-top:8px;
}

.download{background:#2ecc71}

/* A4 size fix */
#resume{
  width: 794px;          /* A4 width */
  min-height: 1123px;    /* A4 height */
  background: white;
  border:1px solid black;
  box-sizing: border-box;
}

/* Page break support */
.page-break{
  page-break-before: always;
}

.resume-photo{
width:120px;
height:140px;
object-fit:cover;
border-radius:6px;
border:2px solid #1f3c88;
}

.top{
display:flex;
gap:20px;
}

.content{
display:grid;
grid-template-columns:1fr 1fr;
gap:25px;
}

.one .content{grid-template-columns:1fr;}

@media print {
  button {
    display: none;
  }
}

