*{
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  margin:0;
  background:#f2f4f7;
}

.container{
  display:flex;
  gap:20px;
  padding:20px;
}

/* FORM */
.form{
  width:35%;
  background:#fff;
  padding:20px;
  border-radius:8px;
}

.form input,
.form textarea{
  width:100%;
  padding:8px;
  margin-bottom:8px;
}

button{
  width:100%;
  padding:10px;
  border:none;
  cursor:pointer;
  background:#1f3c88;
  color:#fff;
  margin-top:8px;
}

.download{
  background:#27ae60;
}

/* RESUME */
.resume{
  width:210mm;
  min-height:297mm;
  background:#fff;
  padding:20mm;
}

.header{
  display:flex;
  gap:20px;
  align-items:center;
  border-bottom:1px solid #ccc;
  padding-bottom:15px;
}

.header img{
  width:120px;
  height:150px;
  object-fit:cover;
  border:2px solid #1f3c88;
}

.content{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:25px;
}

h4{
  border-bottom:1px solid #ccc;
  padding-bottom:4px;
}

/* MOBILE VIEW */
@media(max-width:768px){
  .container{
    flex-direction:column;
    align-items:center;
  }

  .form,
  .resume{
    width:100%;
    max-width:500px;
  }

  .header{
    flex-direction:column;
    text-align:center;
  }

  .content{
    grid-template-columns:1fr;
  }
}

/* PDF LOCK */
.pdf-mode{
  width:210mm !important;
  min-height:297mm !important;
  padding:20mm !important;
  margin:0 auto !important;
}

.pdf-mode *{
  page-break-inside:avoid !important;
}
