body{
margin:0;
font-family:Arial;
background:#f2f4f7;
}

.container{
display:flex;
gap:20px;
padding:20px;
}

.form{
width:35%;
background:#fff;
padding:20px;
border-radius:8px;
}

.form input, textarea{
width:100%;
padding:8px;
margin-bottom:8px;
}

button{
width:100%;
padding:10px;
background:#1f3c88;
color:#fff;
border:none;
margin-top:8px;
cursor:pointer;
}

.download{background:#27ae60}

.resume{
width:794px;
min-height:1123px;
background:#fff;
padding:40px;
box-sizing:border-box;
border-radius:8px;
}

.header{
display:flex;
gap:20px;
align-items:center;
}

.header img{
width:120px;
height:140px;
object-fit:cover;
border:2px solid #1f3c88;
}

h4{
border-bottom:1px solid #ccc;
padding-bottom:4px;
margin-top:20px;
}
