*{
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  margin:0;
  background:#f2f4f7;
}

.container{
  display:flex;
  gap:20px;
  padding:20px;
}

.form{
  width:35%;
  background:#fff;
  padding:20px;
  border-radius:8px;
}

.form input,
.form textarea{
  width:100%;
  padding:8px;
  margin-bottom:8px;
}

button{
  width:100%;
  padding:10px;
  background:#1f3c88;
  color:#fff;
  border:none;
  cursor:pointer;
  margin-top:8px;
}

.download{
  background:#27ae60;
}

/* RESUME */
.resume{
  width:210mm;
  min-height:297mm;
  background:#fff;
  padding:20mm;
}

.header{
  display:flex;
  gap:20px;
  border-bottom:1px solid #ccc;
  padding-bottom:15px;
}

.header img{
  width:120px;
  height:150px;
  border:2px solid #1f3c88;
  object-fit:cover;
}

h4{
  border-bottom:1px solid #ccc;
  padding-bottom:4px;
  margin-top:20px;
}

/* MOBILE */
@media(max-width:768px){
  .container{
    flex-direction:column;
  }
  .form,.resume{
    width:100%;
  }
}
