body{
font-family:Calibri, Arial;
background:#eef1f5;
margin:0;
}

.container{
display:flex;
gap:20px;
padding:20px;
}

.form{
width:35%;
background:#fff;
padding:20px;
border-radius:10px;
}

.form input, textarea, select{
width:100%;
margin-bottom:10px;
padding:9px;
}

button{
width:100%;
padding:10px;
background:#1f3c88;
color:white;
border:none;
margin-top:8px;
}

.download{background:#2ecc71}

.resume{
width:65%;
background:white;
padding:30px;
border-radius:10px;
}

.resume-photo{
width:120px;
height:140px;
object-fit:cover;
border-radius:6px;
border:2px solid #1f3c88;
}

.top{
display:flex;
gap:20px;
}

.content{
display:grid;
grid-template-columns:1fr 1fr;
gap:25px;
}

.one .content{grid-template-columns:1fr;}
